body{
    background:#2c3e50;
}
*{
    box-sizing: border-box;
}
a{
	color:#FFF;
}
#container
{
	padding: 0;
    margin: 0 auto;
    width:960px;
#	background: #fff;
	font-family: sans-serif;
}

#header
{
	background: #ecf0f1;
    text-align: center;
	color:#333;
	margin: 0;
    line-height: 50px;
	height:50px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	float: left;
	padding: 20px;
	width: 100%;
	background-color: #f4fcff;
    background:#34495e;
	color:#ecf0f1;
    margin:20px 0;
}

#edito h2
{
	color: #FFF;
	font-size: 160%;
	margin: 0 0 .5em;
}

div.element
{
	float: left;
	width: 31%;
	width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
	padding: 20px;
    min-height: 400px;
    height:400px;
	margin-bottom: 20px;
	overflow-y: scroll;
	padding: 0%;
    background:#34495e;
    color:#FFF;
}
div.element:nth-child(odd){
    margin-left:20px;
}
div.element:nth-child(even){
    margin-left: 0;
}


div.element img
{
	background-color : #fff;
	float: right;
	width: 40%;
	margin: 5%;
	border: 1px solid #000;
	padding: 5px 5px 20px 5px;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
}

p
{
	margin: 20px;
	text-align: justify;
}

h2,h3
{
	text-align: center;
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: left;
	font-weight: bold;
	padding: 20px;
	height: 1%;
}

